---
- name: Install Docker and Git
  ansible.builtin.apt:
    name:
      - docker.io
      - git
    state: present
    update_cache: yes

- name: Add user to docker
  ansible.builtin.user:
    name: ansibleadmin
    groups: docker
    append: yes

- name: Copy app code
  ansible.builtin.copy:
    src: files/app/
    dest: "{{ app_dir }}"
    mode: "0755"

- name: Build Docker image
  community.docker.docker_image:
    build:
      path: "{{ app_dir }}"
    name: "{{ docker_image }}"
    tag: "{{ docker_tag }}"

- name: Run container
  community.docker.docker_container:
    name: webapp
    image: "{{ docker_image }}:{{ docker_tag }}"
    state: started
    restart_policy: always
    published_ports:
      - "80:{{ container_port }}"
